<div style="margin:-9px 0px 0px -9px">
    <div style="padding-left: 15px;padding-top: 7px;padding-bottom: 10px;background-color: #cc0404;width: 70%;">
        <h4
            style="margin: auto;font-size: 15px;color: white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Cash Advance Request</h4>
    </div>
    <img src="https://phisoblog.files.wordpress.com/2015/11/mlhuillier-logo.jpg" alt="ml_logo"
        style="margin-top:-40px;padding-right: 0;padding-left: 0px;width: 30%;height: 50px;float:right">
</div>

<div style="width: 90%;margin-left: 25px;margin-top: 20px;">
    <p style="font-weight: 700;font-size: 10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Advance Information:</p>
</div>

<!-- second--col -->
<table style="border-collapse: collapse; width: 95%;margin:auto;">
    <tbody>
        <tr>
            <td style="width:15%;font-weight: 500;text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">ID Number:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.idNumber}}</td>
            <td style="width:20%;font-weight: 500; text-align: left;padding: 8px 8px 8px 20px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Control No:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd;text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.controlNo}}</td>
        </tr>

        <tr>
            <td style="width:15%;font-weight: 500;text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Requestor:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.author}}</td>
            <td style="width:20%;font-weight: 500;text-align: left;padding: 8px 8px 8px 20px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Date:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.date}}</td>
        </tr>
        <tr>
            <td style="width:15%;font-weight: 500;text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Job Title:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.jobTitle}}</td>
            <td style="width:20%;font-weight: 500; text-align: left;padding: 8px 8px 8px 20px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Inclusive Date Of Travel:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.travelDate}}</td>
        </tr>
        <tr>
            <td style="width:15%;font-weight: 500;text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Branch:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd;text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.branch}}</td>
            <td style="width:20%;font-weight: 500; text-align: left;padding: 8px 8px 8px 20px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Estimated Departure Date:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.departureDate}}</td>
        </tr>
        <tr>
            <td style="width:15%;font-weight: 500;text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Area:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.area}}</td>
            <td style="width:20%;font-weight: 500; text-align: left;padding: 8px 8px 8px 20px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;;">Estimated Arrival Date:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.arrivalDate}}</td>
        </tr>
        <tr>
            <td style="width:15%;font-weight: 500;text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Region:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.region}}</td>
            <td style="width:20%;font-weight: 500;text-align: left;padding: 8px 8px 8px 20px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Amount:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.amount}}</td>
        </tr>
        <tr>
            <td style="width:15%;font-weight: 500;text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Zone Code:</td>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.zonecode}}</td>
        </tr>
    </tbody>
</table>
<br>
<table style="border-collapse: collapse; width: 95%;margin:auto;">
    <tbody>
        <tr>
            <td style="width:20%;font-weight: 500;text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">Purpose:</td>
        </tr>
        <tr>
            <td style="width:27%;font-weight: 400;border-top:none;border-left:none;border-right:none; border-bottom: 1px solid #dddddd; text-align: left;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">{{data.purpose}}</td>
        </tr>
    </tbody>
</table>
<br>
{{#if isNotVpo}}
<table style="border-collapse: collapse; width: 95%;margin:auto;">
    <thead>
        <tr style="margin: auto;">
            {{#if data.am_fullname}}
            <th style="text-transform:uppercase;border: 1px solid #dddddd;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">
                {{#if data.am_status}}
                <p style="text-transform:uppercase;">{{data.am_status}} | {{data.am_date}}</p>
                {{/if}}
                {{data.am_fullname}}
            </th>
            {{/if}}
            {{#if data.rm_fullname}}
            <th style="text-transform:uppercase;border: 1px solid #dddddd;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">
                {{#if data.rm_status}}
                <p style="text-transform:uppercase;">{{data.rm_status}} | {{data.rm_date}}</p>
                {{/if}}
                {{data.rm_fullname}}
            </th>
            {{/if}}
            {{#if data.ram_fullname}}
            <th style="text-transform:uppercase;border: 1px solid #dddddd;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">
                {{#if data.ram_status}}
                <p style="text-transform:uppercase;">{{data.ram_status}} | {{data.ram_date}}</p>
                {{/if}}
                {{data.ram_fullname}}
            </th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#if data.am_fullname}}
            <td style="font-weight: 400;border: 1px solid #dddddd; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">
                Area Manager
                <p style="margin: 0px;">({{data.area}} | {{data.region}})</p>
            </td>
            {{/if}}
            {{#if data.rm_fullname}}
            <td style="font-weight: 400;border: 1px solid #dddddd; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">
                Regional Manager
                <p style="margin: 0px;">({{data.region}})</p>
            </td>
            {{/if}}
            {{#if data.ram_fullname}}
            <td style="font-weight: 400;border: 1px solid #dddddd; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">
                Regional Area Manager
                <p style="margin: 0px;">({{data.region}})</p>
            </td>
             {{/if}}
        </tr>
    </tbody>
</table>
<br>
<table style="border-collapse: collapse; width: 95%;margin:auto;">
    <thead>
        <tr style="margin: auto;">
            {{#if data.ass_fullname}}
            <th style="text-transform:uppercase;border: 1px solid #dddddd;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">
                {{#if data.ass_status}}
                <p style="text-transform:uppercase;">{{data.ass_status}} | {{data.ass_date}}</p>
                {{/if}}
                {{data.ass_fullname}}
            </th>
            {{/if}}
            {{#if data.vpo_fullname}}
            <th style="text-transform:uppercase;border: 1px solid #dddddd;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9px;">
                {{#if data.vpo_status}}
                <p style="text-transform:uppercase;">{{data.vpo_status}} | {{data.vpo_date}}</p>
                {{/if}}
                {{data.vpo_fullname}}
            </th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#if data.ass_fullname}}
            <td style="border: 1px solid #dddddd;font-weight: 400; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">
                Assistant to the COO | VPO
                <p style="margin: 0px;">({{data.region}})</p>
            </td>
            {{/if}}
            {{#if data.vpo_fullname}}
            <td style="border: 1px solid #dddddd;font-weight: 400; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 8px;">
                COO | VPO
                <p style="margin: 0px;">({{data.region}})</p>
            </td>
            {{/if}}
        </tr>
    </tbody>
</table>
{{/if}}
<br>
<hr style="width: 94%; border-bottom: 1px solid #dddddd;">
<div style="margin-top:13px;">
    <div style="text-align: center;">
        <h5 style="font-size:10px;font-weight:600 ;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            AUTHORITY TO DEDUCT FROM PAYROLL</h5>
        <p
            style="margin-top:-15px;font-size: 10px;font-weight:500 ;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            (Unliquidated Cash Advance Full Amount)</p>
    </div>
    <div style="width: 85%;margin: auto;">
        <p style="font-weight:400 ;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 9px;">
            This is to authorized M.Lhuillier Financial Services -
            HRMD Payroll Master to deduct from my salary the following amount of
            unliquidated cash advance 5 days after completion of the purpose of
            this cash advance.</p>
    </div>
</div>
<div style="margin-right:30px">
    <div style="float: right;">
        <div style="text-align:center;">
            <div>
                <input type="text" value="{{data.author}}"
                    style="font-size: 9px;text-transform:uppercase;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-align: center;padding:5px 2px; border-radius: 3px; border-top:none;border-right:none;border-left:none;border-bottom: 1px solid #dddddd;width:60%">
                <input type="text" value="{{data.idNumber}}"
                    style="font-size: 9px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center;
                padding:5px 0px;border-radius: 3px;border-top:none;border-right:none;border-left:none;border-bottom: 1px solid #dddddd;width:30%">
            </div>
            <div>
                <input type="text" value="Employee" style="font-weight:400;font-size: 9px;text-transform:capitalize;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-align: center;padding:3px 1px; border: none;width:60%">
                <input type="text" value="ID Number" style="font-weight:400;font-size: 9px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center;
                padding:3px 0px;border: none;width:30%">
            </div>
        </div>
    </div>
</div>
<div id="pageFooter" style="text-align: center;">
    <span style="font-size:8px;color: red;font-style:italic;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">**This document is computer generated and does not require any signature to be considered valid**</span>
</div>